<p>data-binding works!</p>
<hr>

<!-- Interpolation -->
<h2>Interpolation</h2>
<p>{{username}}</p>
<div>
    <p> {{person.name}} </p>
    <p> {{person.age}} </p>
    <p> {{person.address.street}} {{person.address.city}} {{person.address.state}} </p>
</div>
<hr>

<!-- Property Binding -->
<h2>Property Binding</h2>
<div [align]="position" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut est dolores eaque soluta eius eosmolestiae, voluptates fugiat repellendus deserunt nam quos. A.</div>
<button [disabled]="isDisabled">Click me</button>
<!-- <img [src]="imageUrl" style="height:200px;" alt="image" /> -->
<hr>

<!-- Event Binding -->
<h2>Event Binding</h2>
<button (click)="onClick()">Click me</button>
<!-- <button (click)="onClickMe($event)">Click Event</button> -->


<!-- Two way binding -->
<h2>Two way binding</h2>
<label>Enter your name:</label>
<input type="text" [(ngModel)]="name" placeholder="name" />
<p>Your name is: {{name}}</p>